{% include 'partials/header.twig' %}

<h1>Welcome!</h1>
<p>
  A portfolio of sorts where you can find the bajillion (and one) projects that I'm currently working on.
</p>
<br>
<h2>
  About Me
</h2>
<p>
  I've been developing on an endless array of side projects since high school,
  and as a result, am nearing the 10 year mark as far as informal experience goes.
  While I have not finished many to completion, each has given me the experience to
  learn something new and to improve my own understanding and methodologies.  I've also
  explored a wide variety of frameworks, languages, and styles as a result, and worked with
  a large number of talented developers!  In my opinion, the best way to learn is to watch those
  who know it better and try to understand why they do things the way that they do.  It has been
  an amazing experience.
</p>
<p>
  When I am not working on code I tend to be found wandering about attending plays,
  playing rpgs with the best group of friends a person can have, or reading
  an ever growing collection of comics.
</p>
<p>
  I also write quite often - eventually this site will have a blog!
</p>
<br>
<dl>
  <dt>Contact Information</dt>
  <dd>Name - Megan Lyle</dd>
  <dd>Email - <a href="mailto:megan.starr9@gmail.com"><i class="fa fa-link"></i> megan.starr9@gmail.com</a></dd>
</dl>

<dl>
  <dt>Social Media</dt>
  <dd>Linked In - <a href="https://www.linkedin.com/in/megan-lyle-b386045b/">
    <i class="fa fa-link"></i> Megan Lyle</a>
  </dd>
  <dd>Instagram - <a href="http://instagram.com/megan_starr9">
    <i class="fa fa-link"></i> megan_starr9</a>
  </dd>
  <dd>Twitter - <a href="http://twitter.com/megan_starr9">
    <i class="fa fa-link"></i> megan_starr9</a>
  </dd>
  <dd>Patreon - <a href="https://www.patreon.com/bulletsandbracelets">
    <i class="fa fa-link"></i> bulletsandbracelets</a>
  </dd>
</dl>

{% include 'partials/footer.twig' %}
