{% include 'partials/header.twig' %}

<h1>Resume</h1>
<dl>
  <dt>Languages</dt>
  <dd>PHP - <span class="sub">Object oriented practices, frameworks such as CodeIgniter
    and Laravel, HACK/XHP, etc</span>
  </dd>
  <dd>HTML/CSS - <span class="sub">HTML5, SASS/preprocessor styling, best practices,
    Bootstrap, responsive design, CSS Grid/Flex</span>
  </dd>
  <dd>MySQL - <span class="sub">optimization, basic structure/best practices,
    normalization</span>
  </dd>
  <dd>Javascript - <span class="sub">frameworks such as Angular 5, React, Vue.js,
    SPAs, JQuery, and vanilla</span>
  </dd>
  <dd>Some experience also with the following - <span class="sub">Node.js/Express, Kubernetes, Docker,
    Github Actions, Jenkins pipelines</span>
  </dd>
</dl>
<dl>
  <dt>Education</dt>
  <dd>Monmouth College - <span class="sub">Class of 2014, Bachelor of Arts, majors in both Math and
    Computer Science</span>
  </dd>
</dl>
<dl>
  <dt>Professional</dt>
  <dd>Sogeti - Consultant, Senior Consultant - June 2014 to Sept 2016
    <br><span class="sub">Worked closely with business clients to suit their technology
      needs. Upgraded, improved, and introduced features to existing systems.</span>
    </dd>
    <dd>Clarity/Perficient - Engagement Engineer, Senior Technical Consultant - Sept 2016 to August 2018
      <br><span class="sub">Building new software applictions based on client designs
        and the best technology choices available.  Working extensively in both front
        and back end architecture to develop custom solutions/products.  Doing code
        reviews and helping to develop documentation/enforce standards.</span>
      </dd>
      <dd>Neighborhoods.com - Software Engineer, Architecture Coach, Development Operations Lead - Sept 2018 to present
        <br><span class="sub">Working in a small team on the front end of the application.
          Introducing features and fixing bugs.  Working in a fast paced kanban/agile workflow,
          we ship multiple releases weekly.  So far, my specific contributions have included:
          upgrading our react router implementation, introducing code splitting to improve
          load performance, introducing and improving team documentation, moving the site to a
          kubernetes environment.  I also implemented a base logging and monitoring infrastructure
          using elasticsearch, grafana, and prometheus.  Currently working to improve developer
          processes and tooling via Development Operations.</span>
        </dd>
      </dl>

{% include 'partials/footer.twig' %}
