<html>
  <head>
    <title>Meg Starr | Developer, Overlord</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="main.css">
  </head>
  <body>
    <header>
      <h1>megstarr.com</h1>
    </header>
    <nav>
      <a href="/"><i class="fa fa-home"></i> Home</a>
      <a href="/resume"><i class="fa fa-paper-plane"></i> Resume</a>
      <a href="/projects"><i class="fa fa-cogs"></i> Projects</a>
    </nav>

    <div class="content">
