{% include 'partials/header.twig' %}

<h1>Projects</h1>
<p>
  Most of these are simply beloved hobbies of mine, sites that I sink free time
  into and use as an opportunity to learn new things/develop skills outside of
  professional work.  These include soft skills like writing and communication
  on top of the chance to play around with new technology and methodologies.
</p>

<h2><a href="https://github.com/megan-starr9"><i class="fa fa-link"></i> Github</a></h2>
<p>
  Repo with some of my project code and random tidbits!
</p>

<h2><a href="http://wolf-rpg.com"><i class="fa fa-link"></i> WOLF</a></h2>
<p>
  A large, extremely active writing community.  The site is built on the MyBB forum
  framework and afforded me the chance to write plugins to extend existing functionality.
  The practice also allowed me to improve administration workflow by developing a suite
  of tools to make redundant tasks more efficient.  I also developed all themes using
  Bootstrap in a mobile-first pattern and integrated with the Twitter API for news updates.
</p>
<p>
  As a Community Manager, I am also responsible for enforcing site policy,
  conflict management, and addressing userbase concerns.
</p>

<h2><a href="http://techofmany.com"><i class="fa fa-link"></i> Tech Of Many</a></h2>
<p>
  A soon-to-exist set of modules that will allow developers to more easily build websites!
  Think Squarespace or Wordpress, but less WYSIWYG.  An opportunity for me to grow my capabilities
  in both architecture and writing reusable/standardized code as I attempt to create something that
  can be easily expanded upon and re-used!
</p>

<h2><a href="http://rpgo.io"><i class="fa fa-link"></i> RPGo.io</a></h2>
<p>
  Will be an app... one day!
</p>

{% include 'partials/footer.twig' %}
